
/*
** Stying the app using CSS
**@author Tam
**
*/

.settingsPane1{
    -fx-background-color: greenyellow;  
}
.portfolioPane1{
    -fx-background-color: red;  
}
.screenerPane{
    -fx-background-color: brown;  
}

.searchPane1{
    -fx-background-color: blueviolet;  
}
.background{
    -fx-backgroun-color: light grey;

}
.homeLabel{
    -fx-alignment:TOP_CENTER;
    -fx-text-fill: white;
}
.button{
    -fx-background-color: rosybrown;
    -fx-text-fill: white;
    -fx-font: 15px sans-serif;


}
.buttonHover{
    -fx-background-color: blue;
    -fx-text-fill: white;
}
scene{
    -fx-background-color: white;
}
.selectionPane{
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-alignment: CENTER;
}


.circle{
    -fx-fill:transparent;
    -fx-stroke:white;
    -fx-stroke-width:20;
}

.stockInfo {

    -fx-grid-lines-visible: true;

}

.newsLbl{
    -fx-border-style: solid;
    -fx-alignment:CENTER; 
    -fx-background-color:navy;
    -fx-text-fill: white;
    -fx-font: 15px Tohoma;

}
.stockBackground{
    -fx-border-style: solid;
    -fx-alignment:CENTER; 
    -fx-background-color:maroon;
    -fx-padding: 3px;
    -fx-text-fill: white;
    -fx-font: 15px sans-serif;

}

.greyTxtFld{
    -fx-border-style: solid;
    -fx-alignment:CENTER; 
    -fx-background-color:gainsboro;
    -fx-padding: 3px;
    -fx-text-fill: black;
    -fx-font: 15px sans-serif;

}
label{
    -fx-alignment:CENTER; 
}